<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
        padding: 30px 0px 30px 130px;
        width:100%;
        height:auto;
        border: 15px solid darkblue;
        background: linear-gradient(to bottom, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%);
      }
      h3{
        color:red;
      }
      h2{
        font-family: fantasy;
      }
    </style>
    <meta charset="utf-8">
    <title>LoginReg</title>
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <h3>{{message}}</h3>
      {% endfor %}
    {% endif %}
    <h2>Registration</h2>
    <form action="/register" method="post">
      {% csrf_token %}
      <p>First Name:</p>
      <input type="text" name="first_name" placeholder="(first name)">
      <p>Last Name:</p>
      <input type="text" name="last_name" placeholder="(last name)">
      <p>Email:</p>
      <input type="text" name="email" placeholder="(email)">
      <p>Password:</p>
      <input type="text" name="password" placeholder="(password)">
      <p>Confirm Password:</p>
      <input type="text" name="confirm_password" placeholder="(confirm password)">
      <input type="submit" value="Register">
    </form><br><hr>
    <h2>Login</h2>
    <form action="/login" method="post">
      {% csrf_token %}
      <p>Email:</p>
      <input type="text" name="email" placeholder="(email)">
      <p>Password:</p>
      <input type="password" name="password" placeholder="(password)">
      <input type="submit" name="" value="Login">
    </form>
  </body>
</html>
